.cuerpo_blog{
    background-color: #000;
    color: white;}

.articulos_blog{
    background-color: rgb(44, 43, 43);}

.resaltado{
    color: yellow}

#titulo_blog{
    text-align: center;
    font-size: 3rem;}



