/*  Clases generales */

body{background-color: black;}

body{color: rgb(255, 255, 255);}


article h3{color: blueviolet;}

article header hgroup h2{color: rgb(31, 31, 231);}

article {
    background-color: rgb(44,43,43);
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;
}

#titulo_del_blog {
   
}

/* Terminan clases generales  */


/* barra de navegación */


h1{color: cyan;}

nav>ul>li{color: yellow;}

nav>ul>li{
    
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

/* fin barra de navegación */

/* footer del blog */

#footer_blog{

    margin: 2rem;
}

/* fin del footer del blog */

/* ilustraciones */

.ilustracion {

    border: 4px solid #ffffff;

    display: inline-block;
 }



.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}


/* fin ilustraciones */

/* grid */
section {
    
    
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
   
    grid-auto-rows: auto;
    
    gap: 3rem;
}

section>header{

grid-column: span 12;

}

section>main{

grid-column: span 8;

}

section>aside{

grid-column: span 4;

}

section>footer{

grid-column: span 12;

}

/* Termina grid */


section>nav{

    font-size: 1.3rem;
    
    }
    

nav>ul>li>a:hover{

    text-decoration: underline;
    color: greenyellow;

}

nav>ul{

display: flex;

align-items: center;

justify-content: space-around;

border-bottom: 1px solid #fff;

padding-bottom: 0.5rem;

}






















