/*  Clases generales */

body{background-color: black;}

body{color: rgb(255, 255, 255);}


article h3{color: blueviolet;}

article header hgroup h2{color: rgb(31, 31, 231);}

aside div img {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
}

aside div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.6rem;
    border-bottom: 1px dashed #fff;
}



.resaltado {
    color: yellow
}


article {
    background-color: rgb(44,43,43);
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;
}

#titulo_del_blog {
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
}

/* Terminan clases generales  */


/* barra de navegación */


h1{color: cyan;}

section>aside>h2{

text-align: center;
font-size: 1.3rem;

}


aside>div:nth-of-type(even) {
    background-color: rgb(44, 43, 43);
}


article>header>hgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

article>header>hgroup>h2{

    display: flex;
    align-items: center;
}

article>header>hgroup>h2>img{

    margin-right: 1rem;
}


nav>ul>li{color: yellow;}

nav>ul>li{
    
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}



/* fin barra de navegación */

#footer_blog{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4 0 4 0;
    font-size: 1.3rem;
    }

    #footer_blog div:nth-child(2){
          font-size: 0.9rem;
    }    
        
/* ilustraciones */

.ilustracion {

    border: 4px solid #ffffff;

    display: inline-block;
 }



.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}


/* fin ilustraciones */

/* grid */
section {
    
    
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
   
    grid-auto-rows: auto;
    
    gap: 3rem;
}

section>header{

grid-column: span 12;

}

section>main{

grid-column: span 8;

}

section>aside{

grid-column: span 4;

}

section>footer{

grid-column: span 12;

}

/* Termina grid */


section>nav{

    font-size: 1.3rem;
    
    }
    

nav>ul>li>a:hover{

    text-decoration: underline;
    color: greenyellow;

}



nav>ul{

display: flex;

align-items: center;

justify-content: space-around;

border-bottom: 1px solid #fff;

padding-bottom: 0.5rem;}


@media (min-width: 1024.1px) and (max-width:1324.1px) {
    aside div {
        flex-direction: column;
    }
}



@media (min-width: 1100px) {
    nav>ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid red;
    }
}

@media (min-width: 0px) and (max-width:1024px) {
    #footer_blog {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024.1px) {
    section>main {
        grid-column: span 8;
    }
}

@media (min-width: 1024.1px) {
    section>aside {
        grid-column: span 4;
    }
}
 
nav {
        font-size: 1.3rem;
        position: fixed;
        width:100%;
        background-color: #000;
    }
    
    
    

















